/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Универсальные стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: white;
    width: 100%;
    background-color: black;
}

a {
    text-decoration: none;
}

img {
     max-width: 100%; /* Чтобы картинка не выходила за пределы родительского блока */
}

/* Стили для шапки */
header {
    height: 100px;
}

header h1 {
    line-height: 100px;
    font-size: 42px;
    color: red;
    padding-left: 110px;
}

header nav {
    float: right;
    line-height: 100px;
    padding-right: 120px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 50px;
}

header nav ul li a {
    color: white;
    font-size: 18px;
}

header nav ul li .btn {
    background-color: red;
    width: 131px;
    height: 41px;
    font-size: 14px;
    padding: 9px 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header nav ul li .btn:hover {
    background-color: rgb(202, 30, 30);
}


